@charset "UTF-8";
/* line 1, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
body {
  background: url(/assets/bg-b73555daa0071efd88d0ad62ab5925068168b5cc04233beaff00931b65878736.jpg) no-repeat;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* line 8, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* line 14, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.clearfix {
  float: boath;
}

/* line 18, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#apps {
  display: none;
  margin: auto;
  width: 980px;
  height: 580px;
  border: 3px solid #0053ED;
  margin-top: 50px;
  border-radius: 7px 7px 0 0;
  background: #ece9d8;
  box-shadow: 3px 3px 25px black;
}

/* line 30, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.apps__content {
  padding: 7px;
  width: 966px;
  height: 504px;
  overflow: auto;
}

/* line 37, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.apps__icon {
  margin-right: 7px;
  float: left;
}

/* line 42, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.apps__name {
  float: left;
}

/* line 46, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.apps__window-buttons {
  float: right;
  height: 30px;
  line-height: 30px;
}

/* line 52, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.window-buttons__manipulation {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  background: blue;
  display: inline-block;
  float: left;
  margin-left: 3px;
}

/* line 65, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.window-buttons__manipulation a {
  color: #fff;
  text-shadow: none;
  display: block;
}

/* line 71, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.window-buttons__close {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  background: red;
  display: inline-block;
  float: right;
  margin-left: 3px;
}

/* line 84, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.window-buttons__close a {
  color: #fff;
  text-shadow: none;
  display: block;
}

/* line 90, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
header {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  background: #0053ED;
}

/* Меню приложения */
/* line 101, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.apps__menu {
  height: 30px;
  border-bottom: 1px solid #ffffff;
}

/* line 106, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 113, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

/* line 120, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul.apps__menu > li {
  float: left;
  position: relative;
  margin-right: 5px;
}

/* line 126, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul.apps__menu > li > a {
  display: block;
  text-decoration: none;
  padding: 3px;
  margin: 1px;
}

/* line 133, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul.apps__menu > li > a:hover {
  background-color: blue;
  color: #ffffff;
}

/* line 138, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul.apps__submenu {
  display: none;
  position: absolute;
  width: 250px;
  left: 0;
  background-color: white;
}

/* line 146, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul.apps__submenu > li {
  display: block;
}

/* line 150, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul.apps__submenu > li > a {
  padding: 3px;
  margin: 1px;
  display: block;
  text-decoration: none;
}

/* line 157, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul.apps__submenu > li > a:hover {
  background-color: blue;
  color: white;
}

/* line 162, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
ul.apps__menu > li:hover > ul.apps__submenu {
  display: block;
}

/* конецМеню приложения*/
/* Окно О программе */
/* line 172, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#about, #download-bd, #add-to-base {
  position: relative;
  display: none;
  margin: auto;
  width: 480px;
  height: 250px;
  border: 3px solid #0053ED;
  margin-top: -450px;
  border-radius: 7px 7px 0 0;
  background: #ece9d8;
  box-shadow: 3px 3px 25px black;
}

/* line 185, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.add-to-base__content {
  padding: 20px;
  text-align: right;
}

/* line 190, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.add-to-base__content div {
  padding: 25px;
  text-align: center;
}

/* line 195, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#add-to-base {
  height: 390px;
}

/* line 199, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
input {
  margin: 2px;
  width: 250px;
}

/* line 204, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.about__content img {
  float: left;
  padding: 35px;
}

/* line 209, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.about__content div {
  padding: 15px;
  padding-right: 30px;
  text-align: right;
}

/* конецОкно О программе*/
/* line 217, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#turn {
  border-radius: 0 5px 0 0;
  display: none;
  padding-left: 10px;
  text-align: left;
  width: 180px;
  height: 30px;
  line-height: 30px;
  background: #0053ED;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 5px #000;
}

/* line 232, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#turn a {
  color: #fff;
  display: block;
}

/* line 238, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#download-bd {
  height: 160px;
}

/* line 242, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.download-bd {
  padding: 15px;
}

/* line 246, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.download-bd p {
  margin-bottom: 35px;
}

/* line 250, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.button {
  border: 1px solid #003772;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
}

/* line 256, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.download-button {
  text-align: right;
}

/* Иконки на рабочем столе */
/* line 270, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#desktop {
  float: both;
  margin: auto;
  padding-left: 200px;
  padding-top: 125px;
}

/* line 277, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#desktop p {
  padding: 0;
  margin: 0;
}

/* line 282, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
#desktop a {
  display: block;
  text-align: center;
  height: 100px;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: aliceblue;
}

/* line 290, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
.desktop__icons {
  float: left;
  text-align: center;
  width: 100px;
  padding: 5px;
  height: 120px;
}

/* конецИконки на рабочем столе*/
/* test */
/* line 301, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
table {
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 950px;
}

/* line 308, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
thead {
  font-weight: bold;
  background: #d3d3d3;
}

/* line 313, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
td {
  border-right: 1px solid gray;
}

/* line 317, C:/Users/SSS/Documents/Ruby/library/app/assets/stylesheets/new-style.scss */
td:last-child {
  border-right: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
