<table>
  <thead>
    <tr>
      <td>Томов</td>
      <td>Автор</td>
      <td>Название</td>
      <td>Жанр</td>
      <td>Издательство</td>
      <td>Год издания</td>
      <td>Цена</td>
      <td>ФИО взявшего книгу</td>
      <td>Примечания</td>
      <td colspan="2">Управление</td>
    </tr>
  </thead>
  <tbody>
    <%= render @books%>
  </tbody>
</table>